
@{ ViewData["Title"] = "Trang chủ"; }


@section Vendors_Scripts{
    
}

<!--begin::Toolbar-->
@section Custom_Scripts{
    <script src="@Url.Content("~/js/util.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/js/Home/Index.js")"></script>
}

<script>
    jQuery(document).ready(function () {
        Home.init();
    });

</script>

<body>
    <img src="https://tuigoihang.vn/wp-content/uploads/2022/04/buu-cuc-jt-express-ho-chi-minh.jpg">
</body>
@await Html.PartialAsync("_PartialToolbar")
